html {
    background-color: whitesmoke;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.homepage-body,
.recipe-body {
    margin: 0 auto;
    text-align: center;
}

.homepage-body {
  width: 600px;
}

.recipe-body {
    width: 500px;
}

img.homepage,
.recipe-img {
    border-radius: 2.5%;
    width: 500px;
    height: 300px;
}

h1 {
    font-size: 5vh;
}

.recipe-list {
    list-style: none;
    font-size: 1.3em;
    padding: 0;
}

.recipe-list li {
    margin: 2em;
    display: inline;
}

a {
    text-decoration: none;
}

.ingredients,
.steps {
    display: inline-block;
    margin-top: 0;
}

.ingredients li,
.steps li{
    text-align: left;
    padding: 0.5em 0;   
    max-width: 500px;
}

.steps li {
    text-align: justify;
}

.description p {
    max-width: 500px;
    margin: 0 auto;
    line-height: 1.5;
    padding: 1vh;
    text-align: justify;
}

